body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

header {
  position: fixed;
  width: 100%;
  background-color: #333;
  color: #fff;
  z-index: 1000;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 12000px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-info {
  display: flex;
  align-items: center;
}

.header-info img.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header-info a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  height: 100vh;
  background: url("assets/hero5.jpg") no-repeat center center/cover;
  position: relative;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 48px;
  margin: 0 0 20px;
}

.hero p {
  font-size: 18px;
  max-width: 600px;
}

.content {
  padding: 50px 20px;
  padding-bottom: 275px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.content p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 800px;
  margin: 10px auto;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}